#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=sand-table
Exec=/home/hypnos/ar-sand-table/sandbox
Comment[en_US]=
Name=Start AR Sandbox
Comment=
