#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=stop
Exec=/home/hypnos/ar-sand-table/stop
Comment[en_US]=
Name=Stop AR Sandbox
Comment=
